*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
!/.idea/
libs/
release/
!/scripts/
!/gpg-keys/
.idea/.gitignore
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
Persian_Numbers/src/main/java/ir/yamin/digits/Main.kt
app/release/
gpg-keys/
scripts/
!/gradle.properties
Persian_Numbers/gpg-keys/
Persian_Numbers/gradle.properties
/gradle.properties
/app/release/app-release.apk
/app/release/output-metadata.json
/Persian_Numbers/gpg-keys/YaMiN_0xD8242278_SECRET.gpg
/Persian_Numbers/src/main/java/ir/yamin/digits/Main.kt
/Persian_Numbers/src/main/java/ir/yamin/digits/Main.kt
