*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.idea/
libs/
release/
!/scripts/
!/gpg-keys/
Persian_Numbers/src/main/java/ir/yamin/digits/Main.kt
app/release/
gpg-keys/
scripts/
!/gradle.properties
Persian_Numbers/gpg-keys/
Persian_Numbers/gradle.properties
/gradle.properties
/app/release/app-release.apk
/app/release/output-metadata.json
/Persian_Numbers/gpg-keys/YaMiN_0xD8242278_SECRET.gpg
/Persian_Numbers/src/main/java/ir/yamin/digits/Main.kt
/app/release/app-release.zip
/Persian_Numbers/gpg-keys/secring.gpg
